appdirs==1.4.4
audioread==2.1.9
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
decorator==5.0.9
docutils==0.17.1
idna==2.10
joblib==1.0.1
Kivy==2.0.0rc2
kivy-deps.glew==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-Garden==0.1.4
kivymd==0.104.1
librosa==0.8.0
llvmlite==0.36.0
numba==0.53.1
numpy==1.19.0
packaging==20.9
Pillow==8.2.0
pooch==1.4.0
./Extras/PyAudio-0.2.11-cp38-cp38-win_amd64.whl # PyAudio
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
requests==2.25.1
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.5.1
six==1.16.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
urllib3==1.26.5
Wave==0.0.2
wavio==0.0.4
